<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="team.metropolia.fi.consumptor"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="AA_MODELS"
            android:value="team.metropolia.fi.consumptor.Models.FuelEntry"/>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="team.metropolia.fi.consumptor"
            android:exported="false"/>

        <activity android:name="team.metropolia.fi.consumptor.MainActivity">
        </activity>
        <activity android:name="team.metropolia.fi.consumptor.FuelEntriesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="team.metropolia.fi.consumptor.FuelEntryActivity"
            android:parentActivityName="team.metropolia.fi.consumptor.FuelEntriesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.metropolia.fi.consumptor.FuelEntryActivity"/>
        </activity>

    </application>

</manifest>